

.accordion_toggle {
	display: block;
	height: 30px;
	width: 680px;
	background: /*url(accordion_toggle.jpg) no-repeat top right*/ #a9d06a;
	padding: 0 10px 0 10px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	font-size: 12px;
	color: #000000;
	border-bottom: 1px solid #cde99f;
	cursor: pointer;
	margin: 0 0 0 0;
}
		
.accordion_toggle_active {
	background: /*url(accordion_toggle_active.jpg) no-repeat top right*/ #e0542f;
	color: #ffffff;
	border-bottom: 1px solid #f68263;
}

.accordion_content {
	background-color: #ffffff;
	color: #444444;
	overflow: hidden;
}
/*
Horizontal Accordion
*/
		
.horizontal_accordion_toggle {
	/* REQUIRED */
	float: left;	/* This make sure it stays horizontal */
	/* REQUIRED */

	display: block;
	height: 200px;
	width: 30px;
	background: #a9d06a;
	color: #ffffff;
	text-decoration: none;
	outline: none;
	border-right: 1px solid #cde99f;
	cursor: pointer;
	margin: 0 0 0 0;
	text-align:center;

}
	
}

		
.horizontal_accordion_toggle_active {
	background: #e0542f;
	border-right: 1px solid #e0542f;
	overflow: auto;  
}

.horizontal_accordion_content {
	/* REQUIRED */
	height: 100px;	/* We need to define a height for the accordion as it stretches the width */
	float: left;	/* This make sure it stays horizontal */
	/* REQUIRED */
	
	overflow: auto; 
	
	background-color: #ffffff;
	color: #444444;
}
	

		
		
/* Container styling*/
	
#horizontal_container {
	/*margin: 20px auto 20px auto;*/
	width: 80%;   
	height: 200px;  
	
}
#titleandcontent{
	overflow:auto;
}
